---
Checks: '-*,
mpi-*,
bugprone-*,
-bugprone-easily-swappable-parameters,
-bugprone-implicit-widening-of-multiplication-result,
-bugprone-multi-level-implicit-pointer-conversion,
-bugprone-non-zero-enum-to-bool-conversion,
cert-dcl50-cpp,
cert-dcl58-cpp,
cert-env33-c,
cert-err34-c,
cert-err52-cpp,
cert-err58-cpp,
cert-err60-cpp,
cert-flp30-c,
cert-mem57-cpp,
cert-msc50-cpp,
cert-msc51-cpp,
cert-oop57-cpp,
cert-oop58-cpp,
cppcoreguidelines-*,
-cppcoreguidelines-avoid-magic-numbers,
-cppcoreguidelines-owning-memory,
-cppcoreguidelines-pro-bounds-constant-array-index,
-cppcoreguidelines-pro-bounds-pointer-arithmetic,
-cppcoreguidelines-pro-type-reinterpret-cast,
google-global-names-in-headers,
google-runtime-int,
hicpp-multiway-paths-covered,
hicpp-avoid-goto,
hicpp-exception-baseclass,
llvm-else-after-return,
misc-*,
-misc-use-anonymous-namespace,
-misc-misplaced-const,
modernize-*,
-modernize-macro-to-enum,
-modernize-use-auto,
-modernize-use-designated-initializers,
-modernize-use-trailing-return-type,
-modernize-use-ranges,
-modernize-use-using,
openmp-use-default-none,
performance-*,
-performance-no-int-to-ptr,
portability-simd-intrinsics,
portability-std-allocator-const,
readability-*,
-readability-function-size,
-readability-identifier-length,
-readability-magic-numbers,
-readability-math-missing-parentheses,
-readability-redundant-member-init,
-readability-uppercase-literal-suffix,
-readability-use-std-min-max'
CheckOptions:
  bugprone-multi-level-implicit-pointer-conversion.EnableInC: false
  bugprone-unused-return-value.CheckedFunctions: '[A-Z].+'
  bugprone-unused-return-value.AllowCastToVoid: true
  cppcoreguidelines-avoid-do-while.IgnoreMacros: true
  cppcoreguidelines-pro-bounds-avoid-unchecked-container-access.ExcludeClasses: "::std::map;::std::unordered_map;::std::flat_map;::JPH::Vector;::JPH::UnorderedMap"
  cppcoreguidelines-pro-bounds-avoid-unchecked-container-access.FixMode: at
  misc-include-cleaner.IgnoreHeaders: "/tmp/clion-clang-tidy/macros;Jolt/Jolt\\.h;stdbool\\.h;Math/R(Mat44|Vec3).hpp"
  misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic: true
  readability-function-cognitive-complexity.IgnoreMacros: true
  readability-operators-representation.BinaryOperators: '&&;&=;&;|;~;!;!=;||;|=;^;^='
  readability-operators-representation.OverloadedOperators: '&&;&=;&;|;~;!;!=;||;|=;^;^='